<?xml version="1.0" encoding="UTF-8" ?>  
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">  
<configuration>  
    <typeAliases>
    <!-- shiro -->  
        <typeAlias alias="shiroUser" type="cn.star.autorder.shiro.entity.ShiroUser"/>  
        <typeAlias alias="role" type="cn.star.autorder.shiro.entity.Role"/>  
        <typeAlias alias="permission" type="cn.star.autorder.shiro.entity.Permission"/>  
        <typeAlias alias="resource" type="cn.star.autorder.shiro.entity.Resource"/>  
    <!-- usermanager -->
		<typeAlias type="user" type="cn.star.autorder.usernamanger.entity.User"/>

		
    </typeAliases>
</configuration> 