<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 暂不用 -->
	<!-- redis配置 
	<bean id="redisManager" class="cn.star.autorder.redis.RedisManager">
		<property name="host" value="127.0.0.1" />
		<property name="port" value="6379" />
		<property name="expire" value="1800" />
		<property name="timeout" value="10000" />
		<property name="password" value="admin"></property>
	</bean>
	
	<bean id="redisSessionDao" class="cn.star.autorder.redis.RedisSessionDAO">
		<property name="redisManager" ref="redisManager" />
	</bean>
	
	<bean id="sessionManager" class="org.apache.shiro.web.session.mgt.DefaultWebSessionManager">
		<property name="sessionDAO" ref="redisSessionDao" />
	</bean>
	
	<bean id="cacheManager" class="cn.star.autorder.redis.RedisCacheManager">
		<property name="redisManager" ref="redisManager" />
	</bean>
	-->
</beans>
